registry=https://pkgs.dev.azure.com/navport/prism/_packaging/prism/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/navport/prism/_packaging/prism/npm/registry/:username=not-required
//pkgs.dev.azure.com/navport/prism/_packaging/prism/npm/registry/:_password=${PRISM_NPM_TOKEN}
//pkgs.dev.azure.com/navport/prism/_packaging/prism/npm/registry/:email=npm requires email to be set but doesn't use the value
; end auth token
